process.container = 'docker://benjaminataylor/zuzu:latest'

process {
    withLabel: small_job {
        cpus = 1
        memory = 50.MB
        time = 00:05:00
    }
    withLabel: mid_job {
        cpus = 1
        memory = 5.GB
        time = 01:00:00
    }
    withLabel: big_job {
        cpus = 10
        memory = 15.GB
        time = 01-00:00:00
    }
}